*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: #000;
  position: relative;
}
h1,h2,h3,h4,h5,h6,a,p{
  text-decoration: none;
  color: inherit;
}
.bold {
  font-weight: bold;
}
.mainpage  {
  height: 100vh;
}
.banner img{
  width: 100%;
}
.irctc-date {
  max-width: 1440px;
  width: 100%;
  /* overflow: auto; */
  margin: auto;
  color: #e1f0ff;
  height: auto;
}
.irctc-date .content {
  width: 70%;
  margin: auto;
  text-align: center;
  /* margin-top: 50px; */
  padding: 10px 10px 50px 10px;
  border: 1px solid #000;
}
.irctc-date .content h2 {
  font-size: 50px ;
  margin-top: 0px;
}
h2.react-datepicker__current-month {
  font-size: 14px !important;
}
.irctc-date .content a{
  color: #ffd400;
  font-weight: 600;
  position: relative;
  text-decoration: underline;
}
.content .today-reservation h3{
  font-size: 30px;
}
.content .today-reservation h3 #date{
  color: #00ffc4;
}
/* .react-datepicker-wrapper {
  width: 50%;
} */
.react-datepicker-wrapper input {
  height: 40px;
  display: block;
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 10px auto 0 10px;
  font-size: 16px;
  padding: 0 5px;
  /* text-align: center; */
}
.publish {
  /* position: absolute; */
  bottom: 0;
  padding: 5px;
  width: auto;
  right: 0;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
  margin: auto;
  background: #3e464e;
}